@model WebApplication19.Models.Product

<p>
    <h2>
        Xác nhận đặt hàng
    </h2>
</p>
<div class="row">
    <div class="col-lg-4">
        <p>
            Tên bạn<input type="text" class="form-control" />
        </p>
        <p>
            Số điện thoại<input type="text" class="form-control" />
        </p>
        <p>
            Email<input type="text" class="form-control" />
        </p>
        <p>
            Ghi chú<textarea class="form-control" ></textarea>
        </p>
    </div>
    <div class="col-lg-4">
        <h3>
            @Model.Names
        </h3>
        <div>
            @Model.Prices
        </div>
        <div>
            @Html.Raw(Model.SortDesc)
        </div>
    </div>
    <div class="col-lg-4">
        <img src="@Url.Content(Model.ImagesPreview)" />
    </div>

</div>
<div class="row">
    <div class="col-lg-12">
        <p>
            <input type="submit" value="Hủy" class="btn btn-warning" />
            <input type="button" value="Xác nhận" class="btn btn-primary" />
        </p>
    </div>
</div>