<div class="slider">
    @Html.Action("GetSlider", "Home")
</div>
<div class="services">
    @Html.Action("GetHomePageSevice", "Home")
</div>
<div class="topproduct">
    @Html.Action("GetTopHomeProduct", "Home")
</div>
<div class="about">
    @Html.Action("AboutHomePage", "Home")
</div>
<div class="customer">

</div>